body {
  background-image: url("../img/cubes.png");
}

#container {
  margin: 0 auto;
  width: 55%;
  margin-left: 33%;
}

#container * {
  font-family: 'Share Tech Mono', monospace;
  color: #516365;
  text-align: center;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

/* ------------------------------------- NAVIGATION -----------------------------------*/

nav {
    position: fixed;
    top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 256px;
    height: 97%;
    background-color: #BDD7D6;
}

nav ul li a {
  display: inline-block;
  margin-right: 0px;
  width: 224px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.5em;
  text-align: center;
  background-color: #BDD7D6;
  color: #516365;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #BDD7D6;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Share Tech Mono', monospace;
}

/* Change the link color on hover */
li a:hover {
  background-color: #7F9D9D;
  color: white;
}

/* ------------------------------------- NAVIGATION -----------------------------------*/

img {
  width: 70%;
  margin: auto;
  display: block;
  padding: 5%;
}
