
#container {
  margin: auto;
  width: 55%;
  margin-left: 33%;
}

body {
  background-image: url("../img/cubes.png");
}

h1 {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  font-size: 3em;
  color: #516365;
}

h2 {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  color: #516365;
}

.intro p {
  text-align: center;
  color: #516365;
  font-family: helvetica, arial;
}

/* ------------------------------------- NAVIGATION -----------------------------------*/

nav {
    position: fixed;
    top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 256px;
    height: 97%;
    background-color: #BDD7D6;
}

nav ul li a {
  display: inline-block;
  margin-right: 0px;
  width: 224px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.5em;
  text-align: center;
  background-color: #BDD7D6;
  color: #516365;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #BDD7D6;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #7F9D9D;
  color: white;
}

/* ------------------------------------- OPSOMMING -----------------------------------*/

.opsomming {
  text-align: center;
}

.opsomming label {
  font-family: 'Share Tech Mono', monospace;
  color: #516365;
}

.opsomming div {
  display: inline-block;
  padding: 20px;
}

/* ------------------------------------- FLEX GIT -----------------------------------*/

.git {
  display: flex;
  padding: 40px;
  width: 600px;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  justify-content: space-around;
  background-color: #FFFFFF;
  border: solid 5px #516365;
}


.git img {
  padding: 20px;
  padding-left: 30px
}

.git h3 {
  font-family: 'Share Tech Mono', monospace;
  color: #516365;
}

.git p {
  padding: 20px;
  font-family: helvetica, arial;
  text-align: justify;
  color: #516365;
}

/* ------------------------------------- FLEX HTML -----------------------------------*/

.html {
  display: flex;
  padding: 40px;
  width: 600px;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  background-color: #FFFFFF;
  border: solid 5px #516365;
}

.html img {
  padding: 20px;
}

.html h3 {
  font-family: 'Share Tech Mono', monospace;
  color: #516365;
}

.html p {
  padding: 20px;
  font-family: helvetica, arial;
  text-align: justify;
  color: #516365;
}

/* ------------------------------------- FLEX CSS -----------------------------------*/

.css {
  display: flex;
  padding: 40px;
  width: 600px;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  background-color: #FFFFFF;
  border: solid 5px #516365;
}

.css img {
  width: 75px;
  padding: 20px;
  padding-left: 45px;
  }

.css h3 {
  font-family: 'Share Tech Mono', monospace;
  color: #516365;
}

.css p {
  padding: 20px;
  font-family: helvetica, arial;
  padding-left: 30px;
  text-align: justify;
  color: #516365;
}

/* ------------------------------------- FLEX JAVASCRIPT -----------------------------------*/

.javascript {
  display: flex;
  padding: 40px;
  width: 600px;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  background-color: #FFFFFF;
  border: solid 5px #516365;
}

.javascript h3 {
  font-family: 'Share Tech Mono', monospace;
  color: #516365;
}

.javascript p {
  padding: 20px;
  font-family: helvetica, arial;
  padding-left: 100px;
  text-align: justify;
  width: 400px
  color: #516365;
}

/* ------------------------------------- FLEX PHP -----------------------------------*/

.php {
  display: flex;
  padding: 40px;
  width: 600px;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  background-color: #FFFFFF;
  border: solid 5px #516365;
}

.php h3 {
  font-family: 'Share Tech Mono', monospace;
  color: #516365;
}

.php p {
  padding: 20px;
  font-family: helvetica, arial;
  padding-left: 170px;
  text-align: justify;
  width: 400px;
  color: #516365;
}
